.box{
  width: 100px;
  height: 100px;

  background-color: orange;

  transition: 1s;
}

.box:hover {
  width: 200px;
  background-color: royalblue;
  
}

.box:active {
  width: 300px;
  background-color: greenyellow;
  
}

.box::before{
    content: "앞!";
}

.box::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: black;
}

input{

}

input:focus{
  background-color: aquamarine;
}