.parent{
  width: 200px;
  height: 150px;
  background-color: royalblue;
  margin: 20px;
  padding: 20px;

  /*
    넘치는 것을 제어 해주는 역활을 해준다.
  

  */
  overflow: auto;
}

.child{
  width: 300px;
  height: 100px;
background-color: orange;

}
