/*
      투명도 opacity

      기본값 1;
      opacity : 0.4; 60%가 불투명

*/

.parent{
  width: 100px;
  height: 100px;
  padding: 30px;

  background-color: royalblue;

}

.child{
  width: 200px;
  height:100px;
  background-color: orange;
  opacity: 0.5;
}